body {
    font-family: "Poppins", sans-serif;
}

.hero {
    height: 90vh;
    background: url("./HeroIndex.jfif") center/cover no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.feature-box {
    border-radius: 12px;
    transition: transform 0.3s ease;
    background: white;
}

.feature-box:hover {
    transform: translateY(-8px);
}

.feature-img {
    width: 70px;
}